@media screen and (max-width: 400px) {
  .section1 {
    height: 170vh;
  }

  .section1::after {
    content: "";
    background: url(./images/client3.jpg) center center/cover no-repeat;
    height: 170vh;
    position: absolute;
    opacity: 10;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .logo {
    color: rgba(255, 255, 255, 0.973) !important;
    font-size: 25px !important;
    padding-left: 0em;
    font-family: "Rowdies", cursive !important;
  }

  .travel-text {
    padding-top: 1rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    order: 2;
  }

  .travel-text p {
    font-size: 17px;
  }

  .travel-text h1 {
    font-size: 35px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
  }

  .img {
    padding-top: 2rem;
    padding-left: 0rem;
    order: 1;
  }
  .img img {
    height: 10rem;
    width: 10rem;
  }

  /* section 2 */
  .section2 {
    padding: 6rem 0rem 20rem 0rem;
    height: auto;
  }

  .section2 .row .col-md-6:last-child {
    position: relative;
    height: 30vh;
  }

  .section2 .row .col-md-6 .panel {
    position: absolute;
    top: -10vmin;
    left: 3vmin;
    padding: 10vmin 5vmin 4vmin 10vmin;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.445);
    font-size: 15px;
    width: 95%;
  }

  .pb-5 {
    padding-bottom: 0rem !important;
  }

  .panel h3 {
    color: orange;
    font-size: 30px;
    font-weight: bold;
  }

  .pray img {
    height: 50vh;
    width: 100%;
  }

  /* section 3 */

  .section3 {
    height: auto;
    margin-bottom: 0rem;
  }

  .section3 .cover {
    width: 100%;
    height: 50vmin;
    background: url(./images/client2.jpg) center center / cover no-repeat;
  }

  .cover .content {
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    font-size: 15px;
    color: white;
  }

  .content h4 {
    font-size: 35px;
    font-family: "Signika Negative", sans-serif;
    color: rgb(255, 255, 255);
  }

  .services .rect {
    position: relative;
    bottom: 4rem;
    width: 6.5rem;
    height: 6.5rem;
    padding-top: 1rem;
    margin: 1rem;
  }

  .rect .fas {
    font-size: 23px;
  }

  .rect span {
    font-size: 15px;
  }

  /* section 4 */

  .section4 {
    height: auto;
    width: 100%;
    padding-bottom: 0rem;
  }

  .section4 .clients {
    width: 100%;
    padding-left: 3%;
  }

  .section4 h2 {
    font-size: 30px;
    position: relative;
    right: 0rem;
  }

  .section4 h5 {
    font-size: 18px;
    position: relative;
    right: 0rem;
  }
}
