@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.section1 {
  height: 95vh;
  width: 100% !important;
  background-color: rgba(12, 12, 12, 0.712);
  position: relative;
}

.section1::after {
  content: "";
  background: url(./images/client3.jpg) center center/cover no-repeat;
  height: 95vh;
  width: 100%;
  position: absolute;
  opacity: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.container-fluid button {
  color: white;
}

.logo {
  color: rgba(240, 236, 10, 0.973) !important;
  font-size: 33px !important;
  width: 55%;
  padding-left: 2em;
  font-family: "Rowdies", cursive !important;
}

.mr-auto {
  width: 60%;
}

.navbar a {
  color: rgb(253, 253, 253);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  width: 50%;
}
.navbar-collapse {
  margin-left: 4rem;
}

.full-nav {
  display: flex;
  justify-content: space-around;
}

header .nav-item:last-child {
  padding-right: 10em;
}

header .nav-item {
  padding: 0.9em;
}

.nav-link:hover {
  color: gold;
}

.home {
  color: gold;
}

.container .row .travel {
  padding-bottom: 2rem;
}

.travel-text {
  padding-top: 11rem;
  color: rgb(226, 232, 253);
  text-shadow: 0px 0px 6px black;
  order: 1;
}

.travel-text p {
  font-size: 24px;
}

.travel-text h1 {
  font-size: 45px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}

.img {
  padding-top: 5rem;
  padding-left: 0rem;
  order: 2;
}
.img img {
  height: 22rem;
  width: 20rem;
}

.btn {
  --color: rgba(255, 68, 0, 0);
  --color2: rgba(255, 68, 0, 0.034);
  padding: 0.7em 2em;
  background-color: transparent;
  border-radius: 30px;
  border: 1.5px solid var(--color);
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: orange;
  border: solid 2px;
}

.btn::before {
  content: "";
  display: block;
  height: 110%;
  width: 310%;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: -1;
  transition: 0.7s;
  background: -moz-linear-gradient(45deg, var(--color2) 33%, orange 66%);
  background: -webkit-linear-gradient(45deg, var(--color2) 33%, orange 66%);
  background: linear-gradient(45deg, var(--color2) 33%, orange 66%);
}

.btn:hover::before {
  left: -200%;
}

.btn:hover {
  color: black;
}

.btn:active {
  transform: scale(0.98);
  filter: brightness(0.8);
}

/* get started button end */

/* section2 start */

.section2 {
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.section2 .row .col-md-6:last-child {
  position: relative;
  height: 40vh;
}

.section2 .row .col-md-6 .panel {
  position: absolute;
  top: 5vmin;
  left: -10vmin;
  background-color: rgb(253, 253, 253);
  backdrop-filter: blur(10px);
  text-align: left;
  border-radius: 5px;
  padding: 15vmin 6vmin 20vmin 10vmin;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.445);
  color: rgb(0, 0, 0);
  font-size: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
.panel h3 {
  color: orange;
  font-size: 35px;
  font-weight: bold;
}

.image img {
  height: 80vh;
  width: 90%;
}

/* section 3 start  */

.section3 {
  height: auto;
  /* margin-bottom: 5rem; */
}

.section3 .cover {
  width: 100%;
  height: 50vmin;
  background: url(./images/client2.jpg) center center / cover no-repeat;
}

.cover .content {
  background-color: rgba(0, 0, 0, 0.685);
  height: 100%;
  width: 100%;
  padding-top: 8rem;
  font-size: 22px;
  color: white;
}

.content h4 {
  font-size: 45px;
  font-family: "Signika Negative", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 5px 5px black;
}

.services .rect {
  position: relative;
  bottom: 3rem;
  z-index: 1;
  background-color: white;
  box-shadow: 0 3px 20px orange;
  width: 12rem;
  height: 12rem;
  padding-top: 4rem;
  margin: 1rem;
  cursor: pointer !important;
}

.services .rect:hover {
  /* box-shadow: 0 5px 20px orangered; */
  transition: 0500ms all;
  color: orangered;
}
.rect .fas {
  color: orange;
  font-size: 40px;
}

.rect span {
  font-size: 25px;
}

/* section 4  */

.section4 {
  height: auto;
  padding-bottom: 4rem;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.section4 .clients {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
}
.section4 .pb-4 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section4 h2 {
  --clients: rgb(184, 113, 113);
  font-size: 45px;
  position: relative;
  /* right: 5rem; */
  font-family: "Lobster", cursive;
  color: var(--clients);
}

.section4 h5 {
  position: relative;
  /* right: 5rem; */
  color: var(--clients);
}

/*  footer */

footer {
  width: 100%;
  background-color: rgb(34, 32, 29);
  overflow-x: hidden;
  padding-top: 2rem;
  color: rgb(155, 148, 148);
  font-size: 17px;
}

footer .contact {
  width: 100% !important;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center !important;
  padding-left: 4rem;
  align-items: center;
}

footer img {
  width: 13rem;
  height: 13rem;
}

footer .copyright {
  margin-top: 2rem;
  overflow-x: hidden;
  padding: 1.2rem 0 0.6rem 0;
  background-color: rgb(0, 0, 0);
  color: rgb(209, 206, 206);
}
footer h6 {
  font-size: 19px;
  color: white;
  display: inline;
}

label {
  color: orange;
}

.form-control {
  --color: rgb(230, 230, 230);
  border: none;
  background-color: var(--color);
}
.input {
  position: relative;
  right: 6rem;
  margin-top: 3rem;
  width: 90%;
}
.form-control:focus {
  background: var(--color);
}
